<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PocketSmart AI</title>
</head>

<body>

    <h1>💰 PocketSmart AI</h1>
    <p>Your Smart Budget & Recommendation Assistant</p>

    <form>
        <label>What do you want?</label>
        <br>
        <input
            type="text"
            placeholder="Example: I want a laptop"
        >

        <br><br>

        <label>Your budget (₹)</label>
        <br>
        <input
            type="number"
            placeholder="Example: 50000"
        >

        <br><br>

        <button type="submit">
            Get Recommendations
        </button>
    </form>

</body>
</html>
